body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

td {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  white-space: nowrap;
  font-size: 0.875rem;
  color: #6b7280;
}

select:focus {
  border-color: #f8d95d;
  outline: none;
  border-color: #f8d95d;
  box-shadow: 0 0 5px #f8d95d;
}
